## TCGA Breast Cancer の　データの読み込み
　　データは、csvファイルとして、ローカルに保存されている。それを読み込む。

In [36]:
import pandas as pd
import numpy as np
import pickle
import os
import xlrd
from scipy import stats
import csv
import numpy as np
import matplotlib.pyplot as plt


dat=pd.read_csv('C:/Users/maete/TCGA-Breast-Cancer-Biomarker/Raw Data/TCGA_BRCA.csv')
dat.head()

,Unnamed: 0,Row.names,PAM50,TNBC,PAM50lite,CDH2,CDH3,CDK9,CDKN1A,IGF2BP1,...,CLDN1,DCLK1,AURKB,CYTH3,TJP2,CD44,GIT2,CDK1,ZEB2,CDH1
0,TCGA-3C-AAAU,TCGA-3C-AAAU,LumB,NO,Non-basal,2.135560,3.187782,43.900092,74.330146,0.136807,...,4.329363,126.102018,17.463295,20.440038,23.286538,294.339311,20.847949,52.545737,6.960402,374.580892
1,TCGA-3C-AALI,TCGA-3C-AALI,Her2,NO,Non-basal,1.974598,16.196468,55.201614,57.095008,0.625794,...,0.560576,3.951243,31.970859,7.376575,55.712666,106.723327,20.105382,48.297506,8.225568,244.552305
2,TCGA-3C-AALJ,TCGA-3C-AALJ,LumB,NO,Non-basal,2.331905,6.332116,60.384016,164.839389,0.236543,...,0.486393,6.888072,30.435282,16.877121,20.962941,40.443605,20.557931,113.972664,10.445087,148.659719
3,TCGA-3C-AALK,TCGA-3C-AALK,LumA,NO,Non-basal,169.263843,19.040956,36.148413,128.038499,0.129748,...,8.510460,5.486131,8.632269,16.676841,30.608976,75.934845,17.612916,27.373494,10.488885,164.411688
4,TCGA-4H-AAAK,TCGA-4H-AAAK,LumA,NO,Non-basal,3.332018,13.262833,56.257585,67.396068,0.114239,...,12.566813,1.356461,7.159632,37.557490,38.857730,147.855838,24.768188,28.139098,10.714240,12.858062

# Breast Cancer のサブタイプごとにデータを分割する。

In [37]:
PAM50=dat.dropna(subset=['PAM50'])
TNBC=dat.dropna(subset=['TNBC'])
PAM50lite=dat.dropna(subset=['PAM50lite'])

In [38]:
PAM50.head()

,Unnamed: 0,Row.names,PAM50,TNBC,PAM50lite,CDH2,CDH3,CDK9,CDKN1A,IGF2BP1,...,CLDN1,DCLK1,AURKB,CYTH3,TJP2,CD44,GIT2,CDK1,ZEB2,CDH1
0,TCGA-3C-AAAU,TCGA-3C-AAAU,LumB,NO,Non-basal,2.135560,3.187782,43.900092,74.330146,0.136807,...,4.329363,126.102018,17.463295,20.440038,23.286538,294.339311,20.847949,52.545737,6.960402,374.580892
1,TCGA-3C-AALI,TCGA-3C-AALI,Her2,NO,Non-basal,1.974598,16.196468,55.201614,57.095008,0.625794,...,0.560576,3.951243,31.970859,7.376575,55.712666,106.723327,20.105382,48.297506,8.225568,244.552305
2,TCGA-3C-AALJ,TCGA-3C-AALJ,LumB,NO,Non-basal,2.331905,6.332116,60.384016,164.839389,0.236543,...,0.486393,6.888072,30.435282,16.877121,20.962941,40.443605,20.557931,113.972664,10.445087,148.659719
3,TCGA-3C-AALK,TCGA-3C-AALK,LumA,NO,Non-basal,169.263843,19.040956,36.148413,128.038499,0.129748,...,8.510460,5.486131,8.632269,16.676841,30.608976,75.934845,17.612916,27.373494,10.488885,164.411688
4,TCGA-4H-AAAK,TCGA-4H-AAAK,LumA,NO,Non-basal,3.332018,13.262833,56.257585,67.396068,0.114239,...,12.566813,1.356461,7.159632,37.557490,38.857730,147.855838,24.768188,28.139098,10.714240,12.858062

In [39]:
TNBC.head()

,Unnamed: 0,Row.names,PAM50,TNBC,PAM50lite,CDH2,CDH3,CDK9,CDKN1A,IGF2BP1,...,CLDN1,DCLK1,AURKB,CYTH3,TJP2,CD44,GIT2,CDK1,ZEB2,CDH1
0,TCGA-3C-AAAU,TCGA-3C-AAAU,LumB,NO,Non-basal,2.135560,3.187782,43.900092,74.330146,0.136807,...,4.329363,126.102018,17.463295,20.440038,23.286538,294.339311,20.847949,52.545737,6.960402,374.580892
1,TCGA-3C-AALI,TCGA-3C-AALI,Her2,NO,Non-basal,1.974598,16.196468,55.201614,57.095008,0.625794,...,0.560576,3.951243,31.970859,7.376575,55.712666,106.723327,20.105382,48.297506,8.225568,244.552305
2,TCGA-3C-AALJ,TCGA-3C-AALJ,LumB,NO,Non-basal,2.331905,6.332116,60.384016,164.839389,0.236543,...,0.486393,6.888072,30.435282,16.877121,20.962941,40.443605,20.557931,113.972664,10.445087,148.659719
3,TCGA-3C-AALK,TCGA-3C-AALK,LumA,NO,Non-basal,169.263843,19.040956,36.148413,128.038499,0.129748,...,8.510460,5.486131,8.632269,16.676841,30.608976,75.934845,17.612916,27.373494,10.488885,164.411688
4,TCGA-4H-AAAK,TCGA-4H-AAAK,LumA,NO,Non-basal,3.332018,13.262833,56.257585,67.396068,0.114239,...,12.566813,1.356461,7.159632,37.557490,38.857730,147.855838,24.768188,28.139098,10.714240,12.858062

In [40]:
PAM50lite.head()

,Unnamed: 0,Row.names,PAM50,TNBC,PAM50lite,CDH2,CDH3,CDK9,CDKN1A,IGF2BP1,...,CLDN1,DCLK1,AURKB,CYTH3,TJP2,CD44,GIT2,CDK1,ZEB2,CDH1
0,TCGA-3C-AAAU,TCGA-3C-AAAU,LumB,NO,Non-basal,2.135560,3.187782,43.900092,74.330146,0.136807,...,4.329363,126.102018,17.463295,20.440038,23.286538,294.339311,20.847949,52.545737,6.960402,374.580892
1,TCGA-3C-AALI,TCGA-3C-AALI,Her2,NO,Non-basal,1.974598,16.196468,55.201614,57.095008,0.625794,...,0.560576,3.951243,31.970859,7.376575,55.712666,106.723327,20.105382,48.297506,8.225568,244.552305
2,TCGA-3C-AALJ,TCGA-3C-AALJ,LumB,NO,Non-basal,2.331905,6.332116,60.384016,164.839389,0.236543,...,0.486393,6.888072,30.435282,16.877121,20.962941,40.443605,20.557931,113.972664,10.445087,148.659719
3,TCGA-3C-AALK,TCGA-3C-AALK,LumA,NO,Non-basal,169.263843,19.040956,36.148413,128.038499,0.129748,...,8.510460,5.486131,8.632269,16.676841,30.608976,75.934845,17.612916,27.373494,10.488885,164.411688
4,TCGA-4H-AAAK,TCGA-4H-AAAK,LumA,NO,Non-basal,3.332018,13.262833,56.257585,67.396068,0.114239,...,12.566813,1.356461,7.159632,37.557490,38.857730,147.855838,24.768188,28.139098,10.714240,12.858062

## これらのデータをpickleデータとしてローカルに保存する。

In [41]:
# Pickle として出力

with open('PAM50.pickle',mode='wb') as f:
    pickle.dump(PAM50,f)
    
with open('TNBC.pickle',mode='wb') as f:
    pickle.dump(TNBC,f)
    
with open('PAM50lite.pickle',mode='wb') as f:
    pickle.dump(PAM50lite,f)